/*COLORS*/
$pri: #C1DCAD;
$sec: #456551;
$grey: #f1f1f1;
$black: #3e3e3e;
$pridark: #fff;
$ter: #ffc900;

.pri {
    color: $pri;
}

.sec {
    color: $sec;
}

.bg-pri {
    background-color: $pri;
}

.bg-sec {
    background-color: $sec !important;
}