@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');

body {
    font-family: 'Tinos', serif;
    font-size: 20px;
    color: $black;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: 10rem;
    letter-spacing: 1rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0;
    letter-spacing: 0.25rem;
}

h5 {
    font-size: 1.5rem;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $black;
        text-decoration: none;
    }
}


footer {
    a:hover {
        color: $black;
        text-decoration-line: line-through;
    }

    .footer_container {
        .row {
            &.justify-content-between .list-unstyled {
                text-transform: lowercase;
            }

            .col-12 {
                padding-right: 0px;
                padding-left: 0px;
            }

            li h5 {
                font-weight: bolder !important;
                text-transform: uppercase;
            }
        }

        .footer_bottom {
            color: $pri !important;
            font-size: 1rem;
        }

        hr {
            border-top: 1px solid $pri;
        }
    }

}



section {
    clear: both;
    margin-bottom: 100px;
}

.btn {
    background-color: $pri;
    color: $black;
    border-radius: 2px;

    &:hover {
        background-color: $black;
        color: white;
    }
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*NEW CLASSES*/
.px-6 {
    padding: 0;
}

.px-45 {
    padding: 0 2rem;
}

.left-0 {
    left: 0;
}

.spacer {
    height: 100px;
}

.line {
    padding-left: 1rem;
    padding-right: 0.6rem;
    background: linear-gradient(transparent, transparent 35%, $pri 35%, $pri 65%, transparent 65%);
    width: fit-content;

    &.left {
        margin-left: -1rem;
    }

    .line.left.mx-auto {
        margin-left: 0rem;
    }

    @include tablet {
            margin-left: -1rem!important;
    }
}

nav span.line.left {
    margin-left: 0;
    padding-left: 0.4rem;
    padding-right: 0.3rem;
    @include tablet {
            margin-left: 0rem!important;
    }
}

h1.line{
    padding-left: 1.6rem;
}

.feature h2 span {
    background: linear-gradient(transparent, transparent 35%, white 35%, white 65%, transparent 65%);
    width: fit-content;
    padding-left: 1rem;
    padding-right: 0.6rem;
    margin: -1rem;
}


.gridof3 h2 span {
    background: linear-gradient(transparent, transparent 35%, $pri 35%, $pri 65%, transparent 65%);
padding-left: 1rem;
    padding-right: 0.6rem;
    margin: -1rem;
}

.comingsoon h2 {
    color: #e6e6e6;
    padding: 10vh 0;
    text-align: center;
    font-size: 10rem;
}